.element__like {
  background-color: #fff;
  padding: 0;
  border: none;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  margin: 5px 0 5px 0;
}

.element__like:active {
  background-color: #000;
}

.element__like:hover {
  opacity: .5;
}

.element__like_image:active {
  background-color: #000;
}