.header {
  margin: 45px 200px 0 200px;
  display: flex;
  align-items: flex-start;
  width: 880px;
  height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    max-height: 54px;
    margin: 28px 0 0 0;
  }
}