.profile__title {
  color: #fff;
  max-width: 294px;
  padding: 0;
  margin: 0 0 16px 0;
  font-family: 'inter', 'Arial', sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
    margin: 0 10px 0 46px;
  }
}