.popup__button_save {
  background-color: #000;
  border-radius: 2px;
  margin: 48px 36px 37px 36px;
  padding: 0;
  width: 358px;
  height: 50px;
}

.popup__button_save:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__button_save {
    max-width: 238px;
    max-height: 46px;
    margin: 45px 22px 25px 22px;
  }
}