.popup__image {
max-width: 75vw;
max-height: 75vh;
align-self: start;
grid-row-start: 2;
grid-column-start: 1;
margin-bottom: -40px;
object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup__image {
    margin-bottom: -95px;
  }
}

@media screen and (max-width: 767px) {
  .popup__image {
    margin-bottom: -137px;
  }
}